@import 'compass';

/* Typography */

$sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, 'Times New Roman', Times, serif;
$monoFontFamily: Menlo, Monaco, 'Courier New', monospace;

$baseFontSize: 14px;
$baseLineHeight: 1.6;
$baseFontFamily: $sansFontFamily;


/* Basic colors */

$black: #000 !default;
$gray: #555 !default;
$grayDark: !default;
$grayDarker: #333 !default;
$grayLight: #999 !default;
$grayLighter: #eee !default;
$white: #fff !default;
$blue: #049cdb !default;
$green: #46a546 !default;
$red: #9d261d !default;
$yellow: #ffc40d !default;
$orange: #f89406 !default;
$pink: #c3325f !default;
$purple: #7a43b6 !default;


/* Links */

$linkColor: #08c !default;
$linkColorHover: darken($linkColor, 15%) !default;


/* Form colors */

$inputBackground: $white !default;
$inputDisabledBackground: $grayLighter !default;
$formActionsBackground: $f5f5f5 !default;

/* Button */
$btnBackground: $white !default;
$btnBorder: #bbb !default;

$btnMainBackground: $linkColor;
$btnMainBackgroundHighlight: adjust-hue($btnMainBackground, 20%) !default;

$btnInfoBackground: #5bc0de !default;
$btnInfoBackgroundHighlight: #2f96b4 !default;

$btnSuccessBackground: #62c462 !default;
$btnSuccessBackgroundHighlight: #51a351 !default;

$btnWarningBackground: lighten($orange, 15%) !default;
$btnWarningBackgroundHighlight: $orange !default;

$btnDangerBackground:               #ee5f5b !default;
$btnDangerBackgroundHighlight:      #bd362f !default;

$btnInverseBackground:              #444 !default;
$btnInverseBackgroundHighlight:     $grayDarker !default;

/* Dropdowns */
$dropdownBorder:                rgba(0,0,0,.2) !default;
$dropdownDividerTop:            #e5e5e5 !default;
$dropdownDividerBottom:         $white !default;

$dropdownLinkColor:             $grayDark !default;
$dropdownLinkColorHover:        $white !default;
$dropdownLinkColorActive:       $dropdownLinkColor !default;

$dropdownLinkBackgroundActive:  $linkColor !default;
$dropdownLinkBackgroundHover:   $dropdownLinkBackgroundActive !default;

