/* Buttons
================================================== */

/* Base sytles */
/* Core*/
.btn {
	@include inline-block;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: $base-font-size;
	line-height: $base-line-height;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	@include border-radius(4px);
	@include box-shadow();
}