// Button

// Base sytles 
// Core
.btn {
	@include inline-block;
	padding: 4px 14px;
	margin-bottom: 0;
	font-size: $baseFontSize;
	line-height: $baseLineHeight;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	@include border-radius(4px);
	@include buttonBackground($textColor, $btnMainBackground, $btnBorder);
	&:hover {
		color: $grayDark;
		text-decoration: none;
		background-color: darken($white, 10%);
	}
	&.active,
	&:active {
		background-color: darken($white, 10%);
	}
	&.disabled,
	&[disabled] {
		cursor: default;
		background-color: darken($white, 10%);	
	}
}

// Button Sizes

// Large
.btn-large {
	padding: 9px 14px;
	font-size: $baseFontSize + 2px;
	line-height: normal;
	@include border-radius(5px);
}

// Small 
.btn-small {
	padding: 3px 9px;
	font-size: $baseFontSize - 2px;
	line-height: $baseLineHeight - 2px;
	@include border-radius(3px);
}

// Mini
.btn-mini {
	padding: 2px 6px;
	font-size: $baseFontSize - 3px;
	line-height: $baseLineHeight - 3px;
}

// Set the backgrounds
.btn-main {
	@include buttonBackground($btnMainBackground, $btnMainBackgroundHighlight);
}
.btn-warning {
	@include buttonBackground($buttonWarningBackground, $btnMainBackgroundHighlight);
}
.btn-danger {
	@include buttonBackground($btnDangerBackground, $btnDangerBackgroundHighlight);
}
.btn-success {
	@include buttonBackground($btnSuccessBackground, $btnSuccessBackgroundHighlight);
}
.btn-info {
	@include buttonBackground($btnInfoBackground, $btnInfoBackgroundHighlight);
}
.btn-inverse {
	@include buttonBackground($btnInverseBackground, $btnInverseBackgroundHighlight);
}

// Button groups
.btn-group {
	position: relative;
	font-size: 0;// remove as part 1 of font-size inline-block hack
	vertical-align: middle;
	white-space: nowrap;
}

// Manage multiple button groups
..btn-toolbar {
  font-size: 0; // Hack to remove whitespace that results from using inline-block
  margin-top: $baseLineHeight / 2;
  margin-bottom: $baseLineHeight / 2;
  .btn-group {
    @include inline-block;
  }
  .btn + .btn,
  .btn-group + .btn,
  .btn + .btn-group {
    margin-left: 5px;
  }
}