// Mixins 
// Button

@mixin buttonBackground($btnMainBackground, $btnBorder, $textColor) {
	color: $textColor;
	background: $btnMainBackground;
	border-color: $btnBorder;
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		color: $textColor;
		background-color: $btnMainBackground;
	}
}

// Fonts
@mixin font-shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}