// Mixins 
// Button

@mixin buttonBackground($btnMainBackground, $btnBorder, $textColor) {
	color: $textColor;
	background: $btnMainBackground;
	border-color: $btnBorder;
	&:hover, &:active, &.active, &.disabled, &[disabled] {
		color: $textColor;
		background-color: $btnMainBackground;
	}
}

// Fonts
@mixin font-shorthand($size: $baseFontSize, $weight: normal, $lineHeight: $baseLineHeight) {
  font-size: $size;
  font-weight: $weight;
  line-height: $lineHeight;
}

// Override compass clearfix
@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}
.clearfix { @include clearfix(); }